<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>wails-hmtx-gotemplates</title>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
</head>
<body>
<div id="app">
    <img id="logo" class="logo" src="src/assets/images/logo-universal.png">
      <div class="result" id="result">Please enter your name below 👇</div>
      <div class="input-box" id="input">
        <input class="input input-bordered w-full max-w-xs" id="name" type="text" autocomplete="off" />
        <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-md" onclick="greet()">Greet</button>
      </div>

      <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-md" hx-get="form1" hx-trigger="click" hx-target="#target-form" hx-swap="outerHTML transition:false">Get Form1</button>
      <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-md" hx-get="form2" hx-trigger="click" hx-target="#target-form" hx-swap="outerHTML transition:false">Get Form2</button>
      <form id="target-form">
<div id="result"></div>
    </div>
</div>
<script src="./src/main.js" type="module"></script>
</body>
</html>
