{{define "button" }}
<button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-md" hx-get="{{ .HxURL }}" hx-trigger="click" hx-swap="outerHTML transition:false">{{ .Label }}</button>
{{ end }}

{{define "textinput" }}
<input type="text" name={{ .Name }} placeholder="Type here" class="input input-bordered w-full max-w-xs" />
{{ end }}

{{ define "selectinput" }}
<select class="select select-bordered w-full max-w-xs">
  <option disabled selected>{{ .Default }}</option>
  {{ .Options }}
</select>
{{ end }}

{{ define "checkbox" }}
<div class="form-control">
  <label class="label cursor-pointer">
    <span class="label-text">Remember me</span> 
    <input type="checkbox" checked="checked" class="checkbox" />
  </label>
</div>
{{ end }}

{{define "form1"}}
<form id="target-form">
   <h1 className="text-3xl font-bold underline">
      I'm a go template on the server as form1!
    </h1>
    <!-- Your form content here -->

    <!-- Include multiple dynamic buttons -->
    {{ template "button" .Button1 }}
    {{ template "button" .Button2 }}
</form>
{{end}}


{{define "form2"}}
<form id="target-form">
   <h1 className="text-3xl font-bold underline">
       I'm a go template on the server as form2!
    </h1>
    <!-- Your form content here -->

    <!-- Include multiple dynamic buttons -->
    {{ template "button" .Button1 }}
    {{ template "button" .Button2 }}
</form>
{{end}}
