{{define "button" }}
<button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-md" hx-get="{{ .HxURL }}" hx-trigger="click" hx-swap="outerHTML transition:false">{{ .Label }}</button>
{{ end }}

{{define "submitbutton" }}
<button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-md" type="submit" hx-post="{{ .HxURL }}" hx-trigger="click" hx-swap="outerHTML transition:false">{{ .Label }}</button>
{{ end }}

{{define "textinput" }}
<input type="text" name={{ .Name }} placeholder="Type here" class="input input-bordered w-full max-w-xs" />
{{ end }}

{{ define "selectinput" }}
<select class="select select-bordered w-full max-w-xs">
  <option disabled selected>{{ .Default }}</option>
  {{ .Options }}
</select>
{{ end }}

{{ define "checkbox" }}
<div class="form-control">
  <label class="label cursor-pointer">
    <span class="label-text">Remember me</span> 
    <input type="checkbox" checked="checked" class="checkbox" />
  </label>
</div>
{{ end }}