@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes grow-x {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes shrink-x {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

/* ::view-transition-old(main-header),
::view-transition-new(main-header) {
  height: auto;
  right: 0;
  left: auto;
  transform-origin: right center;
}
::view-transition-image-pair(root) {
  isolation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
  display: block;
} */

.main-header {
  view-transition-name: main-header;
}