<!-- {{define "button" }}
<button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-md" hx-{{.HxMethod}}="{{ .HxURL }}" hx-trigger="click" {{ .Target }} hx-swap="innerHTML transition:false">{{ .Label }}</button>
{{ end }} -->

{{define "SubmitButton" }}
<button class="btn{{ .Classes }}" type="submit" hx-post="{{ .HxURL }}" hx-target="{{ .Target }}" hx-trigger="click" hx-swap="outerHTML transition:false">{{ .Label }}</button>
{{ end }}

{{define "textinput" }}
<!-- <div class="indicator"> -->
  <!-- <span class="indicator-item indicator-start badge badge-primary">{{ .Label }}</span>  -->
  <input type="text" name="{{ .Name }}" placeholder="{{ .Placeholder }}" class="input join-item input-bordered input-primary w-full max-w-xs px-4 py-3 my-8{{ .Classes }}" />
<!-- </div> -->
{{ end }}

{{ define "selectinput" }}
<select class="select select-bordered w-full max-w-xs my-8 {{ .Classes }}">
  <option disabled selected>{{ .Default }}</option>
  {{ range .Elements }}
  <option>{{ . }}</option>
  {{end}}
</select>
{{ end }}

{{ define "radio"}}
<input type="radio" name="{{ .Name }}" aria-label="{{ .Description }}" class="btn radio join-item btn-xs sm:btn-sm md:btn-md lg:btn-lg"/>
{{end}}

{{ define "checkbox" }}
<input type="checkbox" name="{{ .Name }}"  aria-label="{{ .Description }}" class="btn join-item" {{ .Checked }}/>
{{ end }}

{{ define "textarea"}}
<textarea name="{{ .Name }}" placeholder="{{ .Placeholder }}" class="textarea textarea-bordered textarea-primary textarea-lg w-full max-w-xs" ></textarea>
{{end}}

{{ define "toast-info" }}
<div class="toast toast-end">
  <div class="alert alert-info">
    <span>{{.Message}}</span>
  </div>
</div>
{{end}}

{{ define "toast-success" }}
<div class="toast toast-top toast-end">
<div class="alert alert-success">
  <span>{{.Message}}</span>
</div>
</div>
{{end}}

{{ define "version"}}
<div class="stats shadow">
  <div class="stat">
    <div class="stat-title">Total Page Views</div>
    <div class="stat-value">89,400</div>
    <div class="stat-desc">21% more than last month</div>
  </div>
</div>
{{end}}

{{ define "navbar" }}
<div class="navbar bg-base-300 rounded-box">
  <div class="flex-1 px-2 lg:flex-none">
    <a class="text-lg font-bold">daisyUI</a>
  </div> 
  <div class="flex justify-end flex-1 px-2">
    <div class="flex items-stretch">
      <a class="btn btn-ghost rounded-btn">Button</a>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost rounded-btn">Dropdown</label>
        <ul tabindex="0" class="menu dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box w-52 mt-4">
          <li><a>Item 1</a></li> 
          <li><a>Item 2</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{end}}